<script type="text/javascript" src="{{ site.baseurl }}/js/jquery.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/rgbcolor.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/StackBlur.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/canvg.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/colorpicker.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/zclip.js"></script>
<script type="text/javascript" src="{{ site.baseurl }}/js/app.js"></script>