<div class="sidebar__inner">

  <h1>select<span>64</span></h1>
  <h2>generate base64 backgrounds for <br> native select elements</h2>

  <div id="preview">
    <select>
      <option>placeholder option 1</option>
      <option>placeholder option 2</option>
      <option>placeholder option 3</option>
    </select>
  </div>

  <div id="options">

    <div class="control-group" data-control-group="icon_color">
      <div class="control-label">
        <label for="icon_color">icon color:</label>
      </div>
      <div class="control-input">
        <input id="icon_color" name="icon_color" type="text" value="#6d6be0">
        <div class="color-view"></div>
      </div>
    </div>

    <div class="control-group" data-control-group="icon_size">
      <div class="control-label">
        <label for="icon_size">icon size:</label>
      </div>
      <div class="control-input">
        <input id="icon_size" name="icon_size" type="number" value="24">
      </div>
    </div>

    <canvas id="canvas" class="hidden"></canvas>

  </div>

</div>