// Config

// Colors
//
$black						: #2e353b;
$medium-black				: #3e474f;
$light-black				: #576366;
$gray						: #767B7F; //#60676d;
$light-gray					: #edeff0;
$white						: #FFF;
$blue						: #2E7DFF;
$purple						: #6d6be0;

// Color Assignment
//
$color--main-bg				: $light-gray;
$color--main-txt			: $light-black;
$color--sidebar-bg  		: $medium-black;
$color--sidebar-txt			: $gray;
$color--primary				: $purple;

// Layout
//
$sidebar-width      		: 400px;