// Config

// Colors
//
$black						: #2e353b;
$medium-black				: #3e474f;
$light-black				: #576366;
$gray						: #60676d;
$light-gray					: #edeff0;
$white						: #FFF;
$blue						: #2E7DFF;

// Color Assignment
//
$color--main-bg				: $light-gray;
$color--main-txt			: $light-black;
$color--sidebar-bg  		: $medium-black;
$color--sidebar-txt			: $gray;
$color--active				: $blue;

// Layout
//
$sidebar-width      		: 300px;