// Mixins

@mixin transition($value){
	-webkit-transition: $value;
	transition: $value;
}

@mixin transform($value){
	-webkit-transform: $value;
	transform: $value;
}

@mixin border-radius($value){
	-webkit-border-radius: $value;
	-moz-border-radius: $value;
	border-radius: $value;
}