// Sidebar

#sidebar {
	height: 100%;
	width: $sidebar-width;
	background-color: $color--sidebar-bg;
	color: $color--sidebar-txt;
    position: fixed;
    bottom: 0;
    top: 0;
	text-align: center;
    line-height: 1.6;
    padding: 0 20px;
    overflow-y: auto;

    h1 {
        margin-top: 20px;
        margin-bottom: 0;
        font-weight: 700;
        color: $color--primary;
        span {
            color: $color--sidebar-txt;
        }
    }

    h2 {
        margin: 0;
        font-size: 14px;
        font-weight: 400;
    }

    hr {
        margin: 20px 0;
        border-color: rgba($color--sidebar-txt, 0.4);
        box-shadow: none;
    }

    a {
    	color: $color--sidebar-txt;

    	&:hover,
    	&:focus {
			color: $white;
    	}
    }

    ul {
    	list-style-type: none;
    	padding: 0;
    }

    input[type="text"],
    input[type="number"],
    textarea {
        padding: 10px;
        background-color: $black;
        color: $white;
        border: none;
        height: 40px;
    }

    .btn {
        @include transition(background-color 0.2s ease);
        display: inline-block;
        background-color: $color--primary;
        text-transform: uppercase;
        position: relative;
        z-index: 1;
        color: $white;
        font-size: 16px;
        padding: 12px 40px;
        margin-top: 50px;
        border: 0;
        cursor: pointer;

        &:hover,
        &:focus {
            background-color: lighten($color--primary, 7%);
        }
    }
}

#preview {
    margin: 20px 0;

    select {
        cursor: pointer;
        width: 100%;
        max-width: 100%;
        height: 40px;
        background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAYAAADgdz34AAABB0lEQVRIS+2VzQ2CQBBGv1HkTAlQgZagFWgJciUxoQNbIDHxqiVoBVqCVkALntFkzGIWF/nZ4cCFyGnDbt6bb3YXCD0/1DMff4G1wwNr0SZK1wxaOi6HSRI8rPmNBVGUzkagLYHPu31w1FNFixQcRAc1wYyb4/JCKlHwMdEFgJeDmUMtyQUmXJulkgr8C8glWnAC0fK3JTZJI/yTQrVqlQviOPVeT1wJNJVK2uAMvjsTzFWLiz3oIpHCVbGleyCRZBn80oYakc3KK6dIv7BJiOAXp8UCrySQSOruRl3ljQm6StrgjQmkEhvcKmg7whK4SFAnkcLFAlOixvoSST6GA/sfSCJ3XfMGfti6GSsb25QAAAAASUVORK5CYII=);
        background-repeat: no-repeat;
        background-position: center right 10px;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        border: none;
        background-color: $white;
        box-shadow: none;
        @include border-radius(0);
        padding: 10px;
    }
}

.control-group {
    margin-top: 20px;
    display: table;
    width: 100%;
    position: relative;
}

.control-label {
    padding: 7px 10px;
    text-align: right;
    font-size: 14px;
    width: 40%;
    float: left;
}

.control-input {
    float: left;
    text-align: left;
    width: 60%;
    input {
        width: 100%;
    }
}

.color-view {
    width: 34px;
    height: 34px;
    position: absolute;
    top: 3px;
    right: 3px;
    margin-left: 8px;
    cursor: pointer;
    border: 1px solid $color--sidebar-txt;
}

#icon_color_view {
    background-color: $color--primary;
}

#bg_color_view {
    background-color: $white;
}

#canvas {
    display: none;
    height: 0;
    width: 0;
    position: relative;
    z-index: -1;
}

textarea#output {
    @include transition(all 0.2s ease);
    width: 100%;
    height: 180px;
    padding: 10px;
    font-size: 14px;
    font-family: monospace;
}