<!DOCTYPE html>
<html lang="en-us">

  	{% include head.html %}

 	<body class="static-fill">

	<div id="sidebar">
    {% include sidebar.html %}
	</div>

    <div id="main">
      {{ content }}
    </div>

	{% include scripts.html %}

	<a href="https://github.com/josephfusco/select64"><img style="position: absolute; top: 0; left: 0; border: 0; width: 149px; height: 149px;" src="http://aral.github.com/fork-me-on-github-retina-ribbons/left-grey@2x.png" alt="Fork me on GitHub"></a>

  	</body>
</html>